
* {
    box-sizing: border-box;
}

:root {
    --text-color-1: hsl(209, 100%, 88%);
    --text-color-2: hsl(209, 100%, 90%);
    --text-color-3: hsla(209, 100%, 92%, 0.9);
    --link-color:hsl(216, 100%, 56%);
    --list-marker-color: hsla(209, 100%, 92%, 0.55);
    --bg-1: hsl(219, 100%, 6%);
    --bg-2: hsl(219, 63%, 36%);
    --bg-center: hsl(219, 100%, 6%);
    --bg-highlight: hsl(219, 100%, 8%);
    --scrollbar-thumb-color: hsla(209, 100%, 92%, 0.4);
}

html {
    background-color: rgb(17, 17, 17);
    color: #fff;
}

body {
    overflow: hidden;
}

a {
    display: inline;
}

ul {
    --fluid-type-min-size: 1.2;
        --fluid-type-max-size: 2.2;
        --fluid-type-min-screen: 20;
        --fluid-type-max-screen: 88;
    list-style: disc;
    list-style-type: disc;
    padding: 0;
    margin: 0;
}
li {
    display: list-item;
}

li::before {
    content: unset;
}

li::marker {
    color: var(--list-marker-color);
    transition: color 400ms;
}

li:hover::marker {
    color: var(--text-color-2);
}

li ul {
    list-style: circle;
    list-style-type: circle;
    padding-left: 1ch;
    font-size: max(1rem, 0.6em);
}

slyd {
    background-color: var(--bg-1);
    background-image: radial-gradient(circle, var(--bg-center) 33%, var(--bg-highlight) 100%);
    background-position: 50%;
    background-size: cover;
}

slyd-group::-webkit-scrollbar-track {
    background-color: var(--bg-1);
}

slyd-group::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-1);
}

slyd-group::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--scrollbar-thumb-color);
}

slyd::-webkit-scrollbar-track {
    background-color: var(--bg-1);
}